.btn-vrd-sort{
    border-color: #2c3034;
    color: #2c3034;
    border-width: 0.1rem;
}

.btn-vrd-sort:hover, btn-vrd-sort:focus, btn-vrd-sort:active {
    color: #F7F7F7;
    /*border-color: white;*/
    background-color: #2c3034;
}

.frame-vrd{
    width: 92%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    /*border-radius: 0.25rem;*/
}

.rounded-vrd-1 {
    /*border-radius: 1rem !important;*/
}

.dropdown-item-vrd {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #F7F7F7; /*#212529;*/
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: #2c3034;
    border: 0;
}
.dropdown-item-vrd:hover, .dropdown-item-vrd:focus {
    /*color: #1e2125;*/
    background-color: #565C62;
}
.dropdown-item-vrd.active, .dropdown-item-vrd:active {
    /*color: #fff;*/
    text-decoration: none;
    background-color: black;
}
select selected{

}

.card-img-vrd {
    width: 200px;
    height: 200px;
    object-fit: cover;
    float:left;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.poster{
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.limit-chars-300{
    /*max-width: 300ch;*/
    /*height: 8ch;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*overflow-wrap: break-word;*/
}

.line-clamp:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F7F7F7 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    content: "...";
    font-weight: bold;
    padding: 0 20px 1px 45px;
    position: absolute;
    right: 0;}

.line-clamp {
    height: 5.6em;
    line-height: 1.4em;
    overflow: hidden;
    position: relative;}

selectvrd {
    color: red; !important;

}

.platformLogo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.heart-icon {
    width: 70px;
    height: 70px;
}

.space-between-inline{
    display: inline-block;
    padding-right: 10px;
}
.tag-box{
    width: auto;
    height: 30px;
    background-color: #ffffff;
    border-radius: 20px;
}

.commentBox{
    height: 600px;
    width: 1370px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #D4DCDC;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4f5965;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3a4147;
}
/*.link-profile:hover{*/
/*    text-underline: black;*/
/*}*/

