.btn-vrd-sort{
    border-color: #2c3034;
    color: #2c3034;
    border-width: 0.1rem;
}

.btn-vrd-sort:hover, btn-vrd-sort:focus, btn-vrd-sort:active {
    color: #F7F7F7;
    /*border-color: white;*/
    background-color: #2c3034;
}

.frame-vrd{
    width: 92%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    /*border-radius: 0.25rem;*/
}

.rounded-vrd-1 {
    /*border-radius: 1rem !important;*/
}

.dropdown-item-vrd {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #F7F7F7; /*#212529;*/
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: #2c3034;
    border: 0;
}
.dropdown-item-vrd:hover, .dropdown-item-vrd:focus {
    /*color: #1e2125;*/
    background-color: #565C62;
}
.dropdown-item-vrd.active, .dropdown-item-vrd:active {
    /*color: #fff;*/
    text-decoration: none;
    background-color: black;
}
select selected{

}

.card-img-vrd {
    width: 200px;
    height: 200px;
    object-fit: cover;
    float:left;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.poster{
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.limit-chars-300{
    /*max-width: 300ch;*/
    /*height: 8ch;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*overflow-wrap: break-word;*/
}

.line-clamp:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F7F7F7 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    content: "...";
    font-weight: bold;
    padding: 0 20px 1px 45px;
    position: absolute;
    right: 0;}

.line-clamp {
    height: 5.6em;
    line-height: 1.4em;
    overflow: hidden;
    position: relative;}

selectvrd {
    color: red; !important;

}

.platformLogo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.heart-icon {
    width: 70px;
    height: 70px;
}

.space-between-inline{
    display: inline-block;
    padding-right: 10px;
}
.tag-box{
    width: auto;
    height: 30px;
    background-color: #ffffff;
    border-radius: 20px;
}

/*Home*/
/*body {*/
/*    font-family: tahoma;*/
/*    height: 100vh;*/
/*    background-image: url(https://picsum.photos/g/3000/2000);*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #d4dcdc;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #3a4147;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 100%;
}

.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #3a4147;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #3a4147;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #3a4147;
    background-color: #f7f5ec;
}

.genreBox {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 1250px;
    height: 420px;
}

/*!* Scrollbar styles *!*/
/*::-webkit-scrollbar {*/
/*    width: 12px;*/
/*    height: 12px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    border: 1px solid #3a4147;*/
/*    border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: #3a4147;*/
/*    border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #1e2125;*/
/*}*/

.card-genre {
    width: 800px;
    height: 200px;
    background-color: #1e2125;
}

.commentBox{
    height: 600px;
    width: 1370px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #D4DCDC;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4f5965;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3a4147;
}
/*.link-profile:hover{*/
/*    text-underline: black;*/
/*}*/

