.form {
    margin: 120px 450px 50px 450px;
}

.field-input {
    width: 700px;
}

.padding-top--50 {
    padding-top: 50px;
}

.padding-bottom--24 {
    padding-bottom: 24px;
}

.padding-bottom--200 {
    padding-bottom: 200px;
}

.btn-x {
    transform: translate(710px,-200px);
}

.profile-pic-div{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 1.5px solid black;
    overflow: hidden;
}

#photo {
    height: 100%;
    width: 100%;
}

#fileBtn {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 150px;
    transform: translate(-19px, -33px);
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: white;
    line-height: 25px;
    font-size: 15px;
    cursor: pointer;

}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto
}
