* {
    padding: 0;
    margin: 0;
    color: #ffffff;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  body {
      min-height: 100%;
      background-color: black;
  }
  h1 {
      letter-spacing: -1px;
  }
  a {
    color: #ffffff;
    text-decoration: unset;
    
  }
  .login-root {
      background: rgb(0, 0, 0);
      display: flex;
      width: 100%;
      min-height: 100vh;
      overflow: hidden;
  }
  .loginbackground {
      min-height: 692px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 0;
      overflow: hidden;
  }
  .flex-flex {
      display: flex;
  }
  .align-center {
    align-items: center; 
  }
  .center-center {
    align-items: center;
    justify-content: center;
  }
  .box-root {
    box-sizing: border-box;
  }
  .flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .padding-top--64 {
    padding-top: 64px;
  }
  .padding-top--24 {
    padding-top: 24px;
  }
  .padding-top--5 {
    padding-top: 5px;
  }
  .padding-top--48 {
    padding-top: 48px;
  }
  .padding-bottom--24 {
    padding-bottom: 24px;
  }
  .padding-horizontal--48 {
    padding: 24px;
  }
  .padding-bottom--15 {
    padding-bottom: 15px;
  }
  .padding-bottom--5 {
    padding-bottom: 5px;
  }
  .padding-bottom--40 {
    padding-bottom: 40px;
  }
  
  .flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .formbg {
      margin: auto;
      width: 100%;
      max-width: 448px;
      background: rgb(33,33,33);
      border-radius: 4px;
      box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }
  span {
      display: block;
      font-size: 20px;
      line-height: 28px;
      color: #1a1f36;
  }
  label {
      margin-bottom: 10px;
  }
  .reset-pass a,label {
      font-size: 14px;
      font-weight: 600;
      display: block;
  }
  .reset-pass > a {
      text-align: right;
      margin-bottom: 10px;
  }
  .grid--50-50 {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
  }
  .grid-test{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .field input {
      font-size: 16px;
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: rgb(84 105 212 / 0.5);
      background-color: rgb(77,77,77);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  .footer-link span {
      font-size: 14px;
      text-align: center;
  }
  .listing a {
      color: #697386;
      font-weight: 600;
      margin: 0 10px;
  }
  .center {
      text-align: center;
  }
  .button--100 {
    width: 100%;
  }
  .button--50 {
    width: 48%;
  }
  .font-12 {
    font-size: 12px;
  }
  .button {
  color: white;
  padding: 10px 32px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  .btn-login {
  background-color: rgb(222, 0, 107);
  }
  .btn-login:hover {
  background-color: rgb(255, 0, 107);
  color: white;
  }
  .btn-sign-in {
    background-color: rgb(77, 77, 77);
    }
    .btn-sign-in:hover {
    background-color: rgb(255, 0, 107);
    color: white;
    }
  .btn-gg {
    background-color: rgb(38, 38, 38); 
    color: white; 
    border: 3px solid rgb(252, 255, 127);
  }
  .btn-fb {
    background-color: rgb(38, 38, 38); 
    color: white; 
    border: 3px solid rgb(52, 187, 244);
  }
  .btn-gg:hover {
    color: white; 
  }
  .btn-fb:hover {
    color: white; 
  }
  ::placeholder {
    color: white;
  }
  .form-center {
    margin: auto;
  }
  .eye {
    position: absolute;
  }
  #hide1 {
    display: none;
  }
  #hide3 {
    display: none;
  }
  .eye-img {
    transform: translate(360px, -38px);
  }