<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViewRaidee</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/account-style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="sidenav">
    <p class="text-left font--25" th:text="${username}" align="center"></p>
    <img class="profile-pic" th:src="${photo}" th:width="120">
    <div class="margin-left--35">
        <p class="text-left padding-top--24" th:text="${link}"></p>
        <p class="text-left break-word" th:text="${aboutMe}"></p>
        <a type="button" class="btn button btn-account" th:href="@{/account/edit}">แก้ไข</a>
        <div class="line"></div>
        <span class="display-flex">
            <img th:src="@{/images/pencil.png}" width="30" height="30">
            <p class="text-left margin-left--20" th:text="${articleCount}"></p>
        </span>
        <span class="display-flex padding-top--10">
            <img th:src="@{/images/heart.png}" width="30" height="30">
            <p class="text-left margin-left--20" th:text="${heartCount}"></p>
        </span>
        <div class="line"></div>
        <button type="button" class="btn button btn-logout" th:href="@{/logout}">ออกจากระบบ</button>
    </div>

</div>

<div class="main">
    <div class="container" style="padding: 30px;">
        <div class="grid-container" >
            <div class="grid-item" th:each="article : ${ownArticle}">
                <img id="coverImg" th:src="${article.coverPath}" class="card-img rounded-vrd-1">
                <div class="textIMG">
                    <h5 th:text="${article.movieName}"></h5>
                    <p  th:text="${article.atcName}"></p>
                    <img class="star" th:src="@{/images/star.png}" th:text="${article.getStarRate()}">
                </div>
            </div>
        </div>
    </div>
    <a type="button" class="btn btn-add margin-right--20 margin-bottom--20" id="fixedBTN" th:href="@{/article/add}">+</a>
</div>

</body>
</html>