<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViewRaidee</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/account-style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="row" style="margin-top: 55px">
    <div class="col-4" style="background-color: #D4DCDC" th:object="${account}">
        <div style="background-color: white; width: 120px; height: 55px; border-radius: 50px"><h5 style="padding: 15px; text-align: center">ADMIN</h5></div>
        <center><img th:src="@{/images/admin-ui.png}" style="width: 80px"><br><br>
        <p th:text="*{username}"></p>
        <p th:text="*{email}"></p><br>
        </center>
    </div>
    <div class="col-2">
        <div class="square">
            <div class="square-top">
                <p class="text-center" style="font-size: 15px; transform: translate(0,27px)">บทความ</p>
            </div>
            <p class="text-center" th:text="${articleCount}"></p>
        </div>
    </div>
    <div class="col-2">
        <div class="square">
            <div class="square-top">
                <p class="text-center" style="font-size: 15px; transform: translate(0,27px)">ความคิดเห็น</p>
            </div>
            <p class="text-center" th:text="${commentCount}"></p>
        </div>
    </div>
    <div class="col-4 px-md-5">
        <div class="fb-box">
            <p class="margin-left--20" style="font-size: 60px;">feedback</p>
            <div class="square-fb">
                <p style="font-size: 70px; color: white; text-align: center; transform: translate(0, 20px)" th:text="${feedbackCount}"></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div style="margin: 30px;">
            <div class="grid-container-admin">
                <p class="margin-left--45" style="font-size: 30px;">บทความ</p>
                <div class="scroll-bar">
                    <div class="grid-item-admin margin-left--20" th:each="article : ${articleReport}">
                        <a th:href="@{/articles/{id}(id=${article.value.getId()})}" style="font-size: 25px;"><p th:text="${article.value.getMovieName()}"></p></a>
                        <p class="margin-left--20" th:text="${article.value.atcName}"></p>
                        <p class="margin-left--20" th:text="${article.key.getReportContent()}"></p>
                        <form th:action="@{/articles/manage-report-article/{id}(id=${article.key.id})}" method="POST">
                            <select th:name="reportContent" class="width-200 margin-left--45" aria-label="Default select example">
                                <option style="display:none;"></option>
                                <option>ลบ</option>
                                <option>ไม่สนใจ</option>
                            </select>
                            <span>
                                <button type="submit" class="btn btn-dark" style="margin-bottom: 10px">ยืนยัน</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div style="margin: 30px;">
            <div class="grid-container-admin">
                <p class="margin-left--45" style="font-size: 30px;">ความคิดเห็น</p>
                <div class="scroll-bar">
                    <div class="grid-item-admin margin-left--20" th:each="comment : ${commentReport}">
                        <p class="margin-left--20" th:text="${comment.value.username}"></p>
                        <p class="justify-content-center margin-left--20" th:text="${comment.value.commentContent}"></p>
                        <p class="margin-left--20" th:text="${comment.value.commentDate}"></p>
                        <p class="margin-left--20" th:text="${comment.key.getReportContent()}"></p>
                        <form th:action="@{/articles/manage-report-comment/{id}(id=${comment.key.id})}" method="POST">
                            <select th:name="reportContent" class="width-200 margin-left--45" aria-label="Default select example">
                                <option style="display:none;"></option>
                                <option>ลบ</option>
                                <option>ไม่สนใจ</option>
                            </select>
                            <button type="submit" class="btn btn-dark" style="margin-bottom: 10px">ยืนยัน</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div style="margin: 30px;">
            <div class="grid-container-admin">
                <p class="margin-left--45" style="font-size: 30px;">feedback</p>
                <div class="scroll-bar">
                    <div class="grid-item-admin margin-left--20" th:each="feedback : ${feedbacks}">
                        <p class="margin-left--20" th:text="${feedback.fbStatus}"></p>
                        <p class="margin-left--20" th:text="${feedback.fbBy}"></p>
                        <p class="margin-left--20" th:text="${feedback.fbContent}"></p>
                        <form th:action="@{/feedback/manage-feedback/{id}(id=${feedback.id})}" method="POST">
                            <select th:name="FbStatus" class="width-200 margin-left--45" aria-label="Default select example">
                                <option style="display:none;"></option>
                                <option>กำลังดำเนินการ</option>
                                <option>เสร็จแล้ว</option>
                                <option>ไม่สนใจ</option>
                            </select>
                            <button type="submit" class="btn btn-dark" style="margin-bottom: 10px">ยืนยัน</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>