<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:rel="stylesheet" th:href="@{/css/article-blog.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <style>
        .space-between-inline{
            display: inline-block;
            padding-right: 20px;
        }
    </style>
</head>
<body style="background-color: #1E1E1E;">
    <div th:insert="fragments/header :: header"></div>
    <div class="frame-vrd" style="background-color: #F7F7F7;">
        <div class="container align-items-center" style="margin-top: 30px;">
<!--            <div class="row">-->
                <center>
                    <h1 th:text="${article.atcName}" style="margin-top: 50px;margin-bottom: 50px;"></h1>
                    <img th:src="${article.coverPath}" class="poster rounded-vrd-1">
                </center>
                <h4>เรื่อง: <span th:text="${article.movieName}"></span></h4>
                    <h4>ประเภท: <span th:text="${article.type}"></span></h4>
                    <!--                <h4 th:text="${article.gen}"></h4> //หมวดหมู่หนังต้องเชื่อมกับคลาส Genre -->
                    <p class="justify-content-center" th:text="${article.content}"></p>
            <!--โซน video teaser จนถึง ดูที่-->
            <div class="d-block" style="margin-top: 50px;">
                <div class="d-flex justify-content-center">
                    <iframe th:src="${article.teaserLink}" width="640px" height="395px"></iframe>
                </div>

                <div class="container" style="width:800px; margin-top: 50px;">
                    <h4 style="display: inline-block; padding-right: 200px;">
                        รีวิวโดย <span th:text="${article.authorName}"></span>
                        วันที่ <span th:text="${article.publishDate}"></span></span></h4>

                    <h4 class="space-between-inline">แท็ก
                        <div th:each="tag : ${tags}" class="space-between-inline">
                            <h5 th:text="${tag.getNameTag()}"></h5>
                        </div>
                    </h4>

                    <h4>ดูที่</h4>
                    <div th:each="streamPf : ${streamPlatforms}" style="display: inline-block; padding-right: 10px;">
                        <img th:src="${streamPf.getPicPath()}" class="platformLogo">
                    </div>
                </div>
            </div>
            <!-- Show Heart Count -->
            <div>

<!--            </div>-->
        </div>
    </div>
</body>
</html>