<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/edit-account-style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script>
        function check(){
            var username = document.getElementById('usernameField');
            username.addEventListener('keypress',function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                }
            });
        }
    </script>

</head>


<body>
    <div class="container">
        <form th:action="@{/account/edit}" method="POST" th:object="${account}">
            <button type="submit" class="btn btn-primary">X</button>
            <div class="form-group">
                <img th:field="*{photo}" class="img-fluid" alt="Responsive image" ><br>
                <input type="file" id="editPhoto" value="แก้ไขรูป">
            </div>
            <div class="row mb-3 form-group">
                <label for="usernameField" class="col-sm-2 col-form-label">ชื่อผู้ใช้</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="usernameField" th:field="*{username}" th:onkeypress="@{/account/edit}">
                </div>
            </div>
            <div class="form-group">
                <label for="emailField">อีเมล</label>
                <input type="email" class="form-control" id="emailField" th:field="*{email}">
            </div>
            <div class="form-group">
                <label for="passwordField">รหัสผ่าน</label>
                <input type="password" class="form-control" id="passwordField" th:field="*{password}">
            </div>
            <div class="form-group">
                <label for="linkField">link</label>
                <input type="text" class="form-control" id="linkField" th:field="*{link}">
            </div>
            <div class="form-group">
                <label for="aboutMeField">เกี่ยวกับฉัน</label>
                <textarea type="text" class="form-control" id="aboutMeField" th:field="*{aboutMe}"></textarea>
            </div>
            <button type="button" class="btn btn-primary">ลบบัญชี</button>
        </form>
    </div>
</body>
</html>