<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/edit-account-style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script>
        function check(){
            var username = document.getElementById('usernameField');
            username.addEventListener('keypress',function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                }
            });
        }
    </script>

</head>


<body>
<div th:insert="fragments/header :: header"></div>
    <div class="container" align="center">
        <form th:action="@{/account/edit}" method="POST" th:object="${account}">
            <button type="submit" class="btn btn-primary">X</button>
            <div class="form-group">
                <img th:attr="src=*{photo}" th:width="200" class="img-fluid" alt="Responsive image" ><br>
                <input type="file" id="editPhoto" value="แก้ไขรูป">
            </div>
            <div class="row mb-3 form-group field-input">
                <label for="usernameField" class="col-sm-2 col-form-label">ชื่อผู้ใช้</label>
                <div class="col-sm-10">
                    <input type="text" id="usernameField" th:field="*{username}">
                </div>
            </div>
            <div th:if="*{password!=null}" class="row mb-3 form-group field-input">
                <label for="emailOriginalField" class="col-sm-2 col-form-label">อีเมล</label>
                <div class="col-sm-10">
                    <input type="email" id="emailOriginalField" th:field="*{email}">
                </div>
            </div>
            <div th:if="*{password==null}" class="row mb-3 form-group field-input">
                <label for="emailSocialField" class="col-sm-2 col-form-label">อีเมล</label>
                <div class="col-sm-10">
                    <input type="email" id="emailSocialField" th:field="*{email}" disabled>
                </div>
            </div>
            <div th:if="*{password!=null}" class="row mb-3 form-group field-input">
                <label for="passwordField" class="col-sm-2 col-form-label">รหัสผ่านใหม่</label>
                <div class="col-sm-10">
                    <input type="password" id="passwordField" placeholder="หากไม่ต้องการเปลี่ยนรหัสผ่าน ข้ามช่องนี้" name="password">
                </div>
            </div>
            <div th:if="*{password!=null}" class="row mb-3 form-group field-input">
                <label for="passwordField" class="col-sm-2 col-form-label">ยืนยันรหัสผ่านใหม่</label>
                <div class="col-sm-10">
                    <input type="password" id="confirmPasswordField">
                </div>
            </div>
            <div class="row mb-3 form-group field-input">
                <label for="linkField" class="col-sm-2 col-form-label">link</label>
                <div class="col-sm-10">
                    <input type="text" id="linkField" th:field="*{link}">
                </div>
            </div>
            <div class="row mb-3 form-group field-input">
                <label for="aboutMeField" class="col-sm-2 col-form-label">เกี่ยวกับฉัน</label>
                <div class="col-sm-10">
                    <textarea type="text" id="aboutMeField" th:field="*{aboutMe}"></textarea>
                </div>
            </div>

            <button type="button" class="btn btn-primary">ลบบัญชี</button>
        </form>
    </div>
</body>
</html>