<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/login_style.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
        <div class="loginbackground box-background--white padding-top--64">
        </div>
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                <h1><a th:href="@{/}" >View Raidee</a></h1>
            </div>
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <span class="padding-bottom--15">login บัญชีของคุณ</span>
                        <form th:action="@{/login}" method="post" id="stripe-login">
                            <div class="field padding-bottom--24">
                                <input type="text" id="usernameInput" name="username" placeholder="ชื่อผู้ใช้">
                            </div>
                            <div class="field padding-bottom--24">

                                <input type="password" id="passwordInput" name="password" placeholder="รหัสผ่าน">
                                <div class="grid--50-50">
                                    <div class="reset-pass">
                                        <a class="keep-right padding-top--24" href="#">ลืมรหัสผ่าน?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="field padding-bottom--24">
                                <input type="submit" name="submit" value="เข้าสู่ระบบ">
                            </div>
                        </form>
                        <div class="center label">
                            หรือเข้าสู่ระบบผ่านทาง
                        </div>
                        <div class="field padding-bottom--24">
                            <button type="button" class="btn btn-primary" th:href="@{/oauth2/authorization/google}">Google</button>
                            <button type="button" class="btn btn-primary" th:href="@{/oauth2/authorization/facebook}">Facebook</button>
                        </div >
                        <div class="center">
                            <hr class="center label">ถ้าคุณยังไม่มีบัญชี
                            <div class="field padding-bottom--24">
                                <button type="button" class="btn btn-primary" th:href="@{/signUp}">สมัครบัญชี</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
