<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/login_style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/check-field.js}"></script>
    <script th:src="@{/js/toggle-password.js}"></script>
</head>
<body>
<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
        <div class="loginbackground box-background--white padding-top--64">
        </div>
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            </div>
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <div>
                            <center><h1><a th:href="@{/}"><img src="https://sv1.picz.in.th/images/2021/11/10/uvoiU1.png" width="200"/></a></h1></center>
                        </div>
                        <center><p class="wrong" th:text="${signupError}"></p></center>
                        <form name="signUp" th:action="@{/signUp}" method="POST">
                            <div class="field padding-bottom--20">
                                <input type="text" id="usernameInput" name="username" placeholder="ชื่อผู้ใช้">
                            </div>
                            <div class="field padding-bottom--20">
                                <input type="email" id="emailInput" name="email" placeholder="อีเมล">
                            </div>
                            <div class="field padding-bottom--20">
                                <input type="password" id="passwordInput" name="password" placeholder="รหัสผ่าน">
                                <span class="eye eye-img" onclick="showPwd1()">
                                    <img src="https://sv1.picz.in.th/images/2021/11/10/uvoUc9.png" width="20" id="hide1"/>
                                    <img src="https://sv1.picz.in.th/images/2021/11/10/uvoqsJ.png" width="20" id="hide2"/>
                                </span>
                            </div>
                            <div class="field padding-bottom--40">
                                <input type="password" id="confirmPasswordInput" name="confirmPassword" placeholder="ยืนยันรหัสผ่าน">
                                <span class="eye eye-img" onclick="showPwd2()">
                                    <img th:src="@{/images/view.png}" width="20" id="hide3"/>
                                    <img th:src="@{/images/hidden.png}" width="20" id="hide4"/>
                                </span>
                            </div>
                            <button type="submit" class="btn button btn-login button--100" onclick="return checkFieldSignUp()">สมัครบัญชี</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
